[submodule "submodules/tabnet"]
	path = submodules/tabnet
	url = git@github.com:dreamquark-ai/tabnet.git
[submodule "submodules/SIMS"]
	path = submodules/SIMS
	url = https://github.com/dataxight/SIMS
